* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: arial;
  background-color: #f5f6fa;
}

a {
  text-decoration: none;
  text-align: center;
  display: block;
  padding-block: 12px;
}

a :hover {
  background-color: #2fcc71;
}

.itens_menu {
  padding-top: 20px;
  list-style: none;
}

nav {
  top: 1px;
  left: 0px;
  width: 98px;
  height: 1080px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

header {
  top: 0px;
  left: 99px;
  width: 1821px;
  height: 98px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
