* {
    margin: 0;
    display: flex;
}

.menu {
    top: 1px;
    left: 0px;
    width: 98px;
    height: 100%;
    background: #af2b2b 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 110px 0 0 10px;
}

.buttons {
    padding-left: 0px;
    display: table-column;
}

#button {
    padding-top: 10px;
}

.header {
    width: 100%;
    height: 98px;
    background-color: red;
}

.perfil {
    display: flex;
    width: 140px;
    height: 40px;
    margin: 15px 0 15px 1050px;
    padding: 5px 20px 5px 20px;
}

